### SparklyRGT Template: choiceRGT

**Requirements**
* The data must be an excel file from MEDPC2XL (trial by trial data) 
* The data, sparklyRGT.py file, and this notebook must all be in the same folder

**Getting started: Please make a copy of this (sparklyRGT_template_4) for each analysis**
- Refer to sparklyRGT_documentation for function information
- Note: depending on your analysis, you will only have to complete certain sections of the sparklyRGT_documentation
- Note: feel free to create a personal template once you've become comfortable - this is just an example

In [1]:
import sparklyRGT as rgt 
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import MaxNLocator
import scipy.stats as stats
pd.options.mode.chained_assignment = None
pd.set_option('display.max_rows',100)

I am being executed!

In [2]:
%load_ext autoreload
%autoreload 2

***

# 1) Load data into Python

In [3]:
file_names = ['Free S33-37 Raw.xlsx'] 
df = rgt.load_data(file_names)
df.head()

,MSN,StartDate,StartTime,Subject,Group,Box,Experiment,Comment,Session,Trial,...,Premature_Resp,Premature_Hole,Rew_Persev_H1,Rew_Persev_H2,Rew_Persev_H4,Rew_Persev_H5,Lever_Latency,Uncued_Chosen,Cued_Chosen,Choice_Omit
0,ChoicerGT_A-FF-CR4,05/23/21,11:26:30,1,0.0,1,0.0,NaN,33,1.0,...,0,0,0,0,0,0,6.97,1,0,0
1,ChoicerGT_A-FF-CR4,05/23/21,11:26:30,1,0.0,1,0.0,NaN,33,2.0,...,0,0,0,0,0,0,2.78,0,1,0
2,ChoicerGT_A-FF-CR4,05/23/21,11:26:30,1,0.0,1,0.0,NaN,33,3.0,...,0,0,0,0,0,0,2.29,0,1,0
3,ChoicerGT_A-FF-CR4,05/23/21,11:26:30,1,0.0,1,0.0,NaN,33,4.1,...,1,5,0,0,0,0,5.48,0,1,0
4,ChoicerGT_A-FF-CR4,05/23/21,11:26:30,1,0.0,1,0.0,NaN,33,4.0,...,0,0,0,0,0,0,1.30,0,1,0

# 4) Choice rGT

## Data cleaning

In [4]:
males = list(range(1,29))

females = list(range(30,32))

group_names = {0: 'males',
              1: 'females'} 

group_list = [males,females]

#for plotting: 
title = 'Choice rGT' 

startsess = 10 #first session you would like to include in figures
endsess = 15 #last session you would like to include in figures

In [5]:
# rgt.check_sessions(df)
# df2 = rgt.drop_sessions(df, [28])
# df2 = rgt.edit_sessions(df2, orig_sess = [30, 31], new_sess = [29, 30], subs = "all")

## Data processing

### Calculate variables for each rat

If you are getting a ValueError, try running the following cell before `rgt.get_summary_data`

In [6]:
df.dropna(how = 'all', inplace = True)
df.reset_index(drop=True, inplace = True)
df['Session'] = df['Session'].astype(int)
df['Subject'] = df['Subject'].astype(int)

In [4]:
df_sum = rgt.get_summary_data(df, task = 'choiceRGT') #change to df instead of df2 if you didn't do any session editing
df_sum

,33_cued_P1,33_cued_P2,33_cued_P3,33_cued_P4,33_uncued_P1,33_uncued_P2,33_uncued_P3,33_uncued_P4,34_cued_P1,34_cued_P2,...,prem_uncued_35,prem_cued_36,prem_uncued_36,prem_cued_37,prem_uncued_37,pref33,pref34,pref35,pref36,pref37
1,22.9508,8.19672,68.8525,0,42.8571,0,42.8571,14.2857,24.1935,3.22581,...,0.000000,30.000000,10.000000,6.250000,0.000000,0.909091,0.867470,0.895349,0.888889,0.876712
2,11.2676,88.7324,0,0,10,90,0,0,22.5806,74.1935,...,33.333333,11.363636,11.764706,11.267606,12.500000,0.873563,0.710000,0.744681,0.721311,0.898734
3,18.1818,81.8182,0,0,10.7143,85.7143,3.57143,0,8.33333,83.3333,...,17.500000,21.212121,13.235294,13.636364,11.538462,0.284211,0.195652,0.223301,0.326733,0.220000
4,57.6923,0,42.3077,0,86.3636,4.54545,9.09091,0,41.5385,10.7692,...,28.125000,11.111111,15.789474,7.575758,12.121212,0.710938,0.687500,0.703704,0.810000,0.666667
5,25,75,0,0,39.5349,60.4651,0,0,25,75,...,0.000000,11.111111,5.000000,0.000000,12.765957,0.157895,0.230769,0.176471,0.183673,0.175439
6,8.77193,29.8246,38.5965,22.807,0,57.8947,42.1053,0,10.2041,34.6939,...,10.810811,14.285714,17.948718,21.153846,11.111111,0.756098,0.614458,0.593407,0.589474,0.590909
7,0,1.81818,98.1818,0,0,0,100,0,1.81818,0,...,20.000000,3.508772,12.500000,3.174603,50.000000,0.876923,0.890625,0.926471,0.876923,0.887324
8,15.5844,57.1429,15.5844,11.6883,21.4286,50,21.4286,7.14286,30.137,39.726,...,5.555556,15.068493,6.250000,18.666667,14.285714,0.848485,0.845361,0.808511,0.820225,0.781250
9,21.6667,25,48.3333,5,37.5,62.5,0,0,0,97.6744,...,25.000000,8.510638,24.000000,11.926606,23.076923,0.869565,0.911504,0.865546,0.789916,0.893443
10,0.990099,98.0198,0.990099,0,0,100,0,0,0,100,...,28.571429,35.245902,43.478261,20.661157,23.529412,0.888000,0.807407,0.895522,0.841379,0.876812
11,0,50,0,50,3.84615,57.6923,0,38.4615,0,40.7407,...,29.032258,6.451613,3.225806,2.857143,15.151515,0.584416,0.500000,0.575342,0.500000,0.514706
12,10,20,70,0,26.9231,26.9231,42.3077,3.84615,3.57143,53.5714,...,29.629630,43.283582,37.931034,38.709677,27.777778,0.546512,0.468354,0.689655,0.697917,0.632653
13,1.07527,98.9247,0,0,10,90,0,0,14.0625,85.9375,...,16.666667,13.265306,7.142857,3.797468,15.789474,0.899083,0.776596,0.854839,0.875000,0.806122
14,0,83.7838,0,16.2162,0,91.8919,0,8.10811,0,81.8182,...,0.000000,4.166667,0.000000,5.555556,11.538462,0.512821,0.600000,0.753623,0.666667,0.580645
15,1.0101,97.9798,1.0101,0,0,100,0,0,3.65854,92.6829,...,0.000000,8.849558,0.000000,13.761468,14.285714,0.990826,0.917526,0.938776,0.974138,0.939655
16,0,40,0,60,0,85.2273,0,14.7727,0,36.3636,...,6.849315,8.333333,5.714286,11.111111,2.816901,0.126214,0.117647,0.215054,0.146341,0.202247
17,0,20.5882,29.4118,50,0,8.33333,41.6667,50,0,7.40741,...,25.000000,22.413793,16.666667,30.000000,12.500000,0.803030,0.796610,0.935484,0.906250,0.882353
18,0,100,0,0,0,0,0,0,0,100,...,NaN,6.293706,NaN,10.071942,0.000000,1.000000,0.991803,1.000000,1.000000,0.992857
19,4.16667,70.8333,0,25,0,81.4815,0,18.5185,0,71.4286,...,13.846154,8.000000,7.500000,7.692308,1.960784,0.337079,0.293333,0.322917,0.384615,0.433333
20,11.6667,75,6.66667,6.66667,6.52174,89.1304,2.17391,2.17391,11.7647,82.3529,...,10.256410,10.256410,2.325581,28.205128,13.953488,0.592000,0.704762,0.672269,0.644628,0.644628
21,8,0,4,88,3.84615,0,7.69231,88.4615,19.3548,0,...,2.857143,11.111111,15.151515,18.181818,10.344828,0.538462,0.588235,0.492754,0.450000,0.532258
22,0,100,0,0,1.33333,98.6667,0,0,0,100,...,1.282051,8.333333,1.449275,27.272727,6.557377,0.079545,0.171053,0.082353,0.148148,0.152778
23,6.66667,13.3333,80,0,0,33.3333,66.6667,0,9.09091,12.7273,...,0.000000,5.797101,20.000000,10.389610,0.000000,0.880952,0.805195,0.951807,0.932432,0.950617
24,2.32558,69.7674,0,27.907,1.75439,78.9474,0,19.2982,0,72.9167,...,18.181818,28.571429,22.641509,18.000000,9.090909,0.487603,0.460870,0.564356,0.480392,0.602410
25,36.3636,9.09091,45.4545,9.09091,25,5,67.5,2.5,16,0,...,20.000000,28.947368,12.500000,17.073171,13.157895,0.393617,0.387500,0.388889,0.441860,0.518987
26,28.5714,71.4286,0,0,0,98.3333,0,1.66667,25.4545,70.9091,...,4.000000,3.389831,0.000000,6.741573,0.000000,0.561151,0.585366,0.650350,0.686047,0.601351
27,0,0,94.7368,5.26316,0,5,85,10,0,2.7027,...,14.285714,10.344828,11.764706,15.909091,10.000000,0.646154,0.567164,0.691176,0.630435,0.687500
28,0,98.9583,1.04167,0,0,100,0,0,2.40964,95.1807,...,0.000000,9.803922,7.142857,16.216216,12.500000,0.966102,0.880000,0.944882,0.879310,0.932773
29,3.92157,54.902,37.2549,3.92157,23.0769,42.3077,30.7692,3.84615,15.2542,49.1525,...,19.047619,0.000000,0.000000,46.987952,30.000000,0.727273,0.824742,0.790000,0.608108,0.734513
30,0,0,100,0,16.6667,0,83.3333,0,2.17391,0,...,5.714286,9.259259,6.666667,9.803922,3.333333,0.586667,0.609756,0.578313,0.642857,0.629630
31,6.06061,27.2727,48.4848,18.1818,15,10,55,20,8.33333,18.75,...,19.047619,34.848485,36.666667,20.634921,43.478261,0.716981,0.686747,0.792079,0.687500,0.732558
32,0,11.1111,88.8889,0,1.75439,5.26316,87.7193,5.26316,0,20,...,15.686275,27.500000,22.448980,2.857143,5.882353,0.125000,0.256757,0.474227,0.449438,0.406977

### Export your data to an Excel file

In [5]:
# rgt.export_to_excel(df_sum, groups = group_list, column_name = 'sex', new_file_name = 'compare_access2.xlsx', asin = True)
df_sum.to_excel("compare_access4.xlsx")
# make sure new_file_name is a string that ends in .xlsx

## Calculate means and SEMs for your experimental groups

In [ ]:
mean_scores, SEM = rgt.get_means_sem(df_sum, groups = group_list, group_names = group_names) #there must be at least 3 males and 3 females 
# mean_scores
# SEM