In [16]:
import pandas as pd
import researchpy as rp
import scipy.stats as stats

In [6]:
df = pd.read_csv("https://raw.githubusercontent.com/researchpy/Data-sets/master/difficile.csv")
df

    person  dose  libido
0        1     1       3
1        2     1       2
2        3     1       1
3        4     1       1
4        5     1       4
5        6     2       5
6        7     2       2
7        8     2       4
8        9     2       2
9       10     2       3
10      11     3       7
11      12     3       4
12      13     3       5
13      14     3       3
14      15     3       6

In [7]:
df.drop('person', axis = 1, inplace = True)

In [13]:
df['dose'].replace({1: 'placebo', 2: 'low', 3: 'high'}, inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   dose    15 non-null     object
 1   libido  15 non-null     int64
dtypes: int64(1), object(1)
memory usage: 368.0+ bytes

In [14]:
rp.summary_cont(df['libido']) #summary of the 'libido column'

  Variable     N    Mean      SD      SE  95% Conf.  Interval
0   libido  15.0  3.4667  1.7674  0.4563     2.4879    4.4454

In [15]:
rp.summary_cont(df['libido'].groupby(df['dose'])) #summary of libido column, grouped by dose

         N  Mean      SD      SE  95% Conf.  Interval
dose
high     5   5.0  1.5811  0.7071     3.0368    6.9632
low      5   3.2  1.3038  0.5831     1.5811    4.8189
placebo  5   2.2  1.3038  0.5831     0.5811    3.8189

In [17]:
import scipy.stats as stats

stats.f_oneway(df['libido'][df['dose'] == 'high'],
               df['libido'][df['dose'] == 'low'],
               df['libido'][df['dose'] == 'placebo'])

#p less than 0.02 --> statistically significant difference between groups

F_onewayResult(statistic=5.11864406779661, pvalue=0.024694289538222603)

10    7
11    4
12    5
13    3
14    6
Name: libido, dtype: int64