### SparklyRGT Template: Baseline and Acquisition Analysis 

**Requirements**
* The data must be an excel file from MEDPC2XL (trial by trial data) 
* The data, sparklyRGT.py file, and this notebook must all be in the same folder

**Getting started: Please make a copy of this (sparklyRGT_template_2) for each analysis**
- Refer to sparklyRGT_documentation for function information
- Note: depending on your analysis, you will only have to complete certain sections of the sparklyRGT_documentation
- Note: feel free to create a personal template once you've become comfortable - this is just an example

In [1]:
import os
os.chdir('C:\\Users\\dexte\\sparklyRGT\\sparklyRGT_tutorial')
import sparklyRGT as rgt 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import MaxNLocator
import scipy.stats as stats
pd.options.mode.chained_assignment = None
pd.set_option('display.max_rows',100)

I am being executed!

***

# 1) Load data into Python

In [2]:
file_names = ['BH07_raw_free_S29-30.xlsx'] 

df = rgt.load_data(file_names)

df.head()
# df[['Chosen', 'option']]

,MSN,StartDate,StartTime,Subject,Group,Box,Experiment,Comment,Session,Trial,...,Pun_Persev_H5,Pun_HeadEntry,Pun_Dur,Premature_Resp,Premature_Hole,Rew_Persev_H1,Rew_Persev_H2,Rew_Persev_H3,Rew_Persev_H4,Rew_Persev_H5
0,rGT_A-cue,2020-10-09,11:01:00,25,0.0,1,0.0,NaN,29,1.0,...,3,3,30,0,0,0,0,0,0,0
1,rGT_A-cue,2020-10-09,11:01:00,25,0.0,1,0.0,NaN,29,2.1,...,0,0,0,1,5,0,0,0,0,0
2,rGT_A-cue,2020-10-09,11:01:00,25,0.0,1,0.0,NaN,29,2.0,...,3,2,30,0,0,0,0,0,0,0
3,rGT_A-cue,2020-10-09,11:01:00,25,0.0,1,0.0,NaN,29,3.0,...,0,0,0,0,0,0,0,0,0,0
4,rGT_A-cue,2020-10-09,11:01:00,25,0.0,1,0.0,NaN,29,4.0,...,2,2,30,0,0,0,0,0,0,0

***
# 2A) Baseline & Acquisition Analysis

In [3]:
control_group = [] #In this example: Tg negative rats

exp_group = [] #In this example: Tg positive rats

group_names = {0: '',
              1: ''} 

group_list = []

title = '' #for plotting

startsess = 29 #first session you would like to include in figures
endsess = 30 #last session you would like to include in figures

## Data cleaning

### Check session numbers for each rat

In [4]:
rgt.check_sessions(df)

Subject  StartDate   Session
1        2020-10-09  29         131.1
         2020-10-10  30         124.0
2        2020-10-09  29          76.1
         2020-10-10  30          81.0
3        2020-10-09  29          49.0
         2020-10-10  30          45.0
4        2020-10-09  29         103.0
         2020-10-10  30          97.0
5        2020-10-09  29          68.1
         2020-10-10  30          69.0
6        2020-10-09  29          88.0
         2020-10-10  30          75.0
7        2020-10-09  28          53.0
         2020-10-10  29          65.0
         2020-10-13  30          56.1
8        2020-10-09  29         124.0
         2020-10-10  30         121.0
9        2020-10-09  29          62.0
         2020-10-10  30          61.0
11       2020-10-09  29         132.0
         2020-10-10  30         136.1
12       2020-10-09  29          54.0
         2020-10-10  30          72.0
13       2020-10-09  29          67.0
         2020-10-10  30          60.0
14       2020-10-09  29          80.1
         2020-10-10  30          91.0
15       2020-10-09  29          54.0
         2020-10-10  30          60.1
16       2020-10-09  29          57.0
         2020-10-10  30          59.1
17       2020-10-09  28          63.1
         2020-10-10  29          43.1
         2020-10-13  30          73.0
18       2020-10-09  29          76.0
         2020-10-10  30          69.0
19       2020-10-09  29          72.0
         2020-10-10  30          76.0
20       2020-10-09  29         107.1
         2020-10-10  30         109.0
21       2020-10-09  29          70.0
         2020-10-10  30          74.0
22       2020-10-09  28         121.0
         2020-10-10  29         115.0
         2020-10-13  30          88.0
23       2020-10-09  29          90.0
         2020-10-10  30         107.1
24       2020-10-09  29         114.0
         2020-10-10  30         117.0
25       2020-10-09  29          66.0
         2020-10-10  30          65.0
26       2020-10-09  29          75.1
         2020-10-10  30          61.1
27       2020-10-09  29          84.0
         2020-10-10  30          95.0
28       2020-10-09  29          81.0
         2020-10-10  30          91.1
29       2020-10-09  29          79.0
         2020-10-10  30          72.0
30       2020-10-09  29         125.0
         2020-10-10  30         129.0
31       2020-10-09  29          55.0
         2020-10-10  30          90.0
32       2020-10-09  29          75.0
         2020-10-10  30          81.0
Name: Trial, dtype: float64

### Drop/edit session numbers

In [5]:
df2 = rgt.drop_sessions(df, [28])

### Check that you dropped/edited the desired session(s)

In [6]:
rgt.check_sessions(df2)

Subject  StartDate   Session
1        2020-10-09  29         131.1
         2020-10-10  30         124.0
2        2020-10-09  29          76.1
         2020-10-10  30          81.0
3        2020-10-09  29          49.0
         2020-10-10  30          45.0
4        2020-10-09  29         103.0
         2020-10-10  30          97.0
5        2020-10-09  29          68.1
         2020-10-10  30          69.0
6        2020-10-09  29          88.0
         2020-10-10  30          75.0
7        2020-10-10  29          65.0
         2020-10-13  30          56.1
8        2020-10-09  29         124.0
         2020-10-10  30         121.0
9        2020-10-09  29          62.0
         2020-10-10  30          61.0
11       2020-10-09  29         132.0
         2020-10-10  30         136.1
12       2020-10-09  29          54.0
         2020-10-10  30          72.0
13       2020-10-09  29          67.0
         2020-10-10  30          60.0
14       2020-10-09  29          80.1
         2020-10-10  30          91.0
15       2020-10-09  29          54.0
         2020-10-10  30          60.1
16       2020-10-09  29          57.0
         2020-10-10  30          59.1
17       2020-10-10  29          43.1
         2020-10-13  30          73.0
18       2020-10-09  29          76.0
         2020-10-10  30          69.0
19       2020-10-09  29          72.0
         2020-10-10  30          76.0
20       2020-10-09  29         107.1
         2020-10-10  30         109.0
21       2020-10-09  29          70.0
         2020-10-10  30          74.0
22       2020-10-10  29         115.0
         2020-10-13  30          88.0
23       2020-10-09  29          90.0
         2020-10-10  30         107.1
24       2020-10-09  29         114.0
         2020-10-10  30         117.0
25       2020-10-09  29          66.0
         2020-10-10  30          65.0
26       2020-10-09  29          75.1
         2020-10-10  30          61.1
27       2020-10-09  29          84.0
         2020-10-10  30          95.0
28       2020-10-09  29          81.0
         2020-10-10  30          91.1
29       2020-10-09  29          79.0
         2020-10-10  30          72.0
30       2020-10-09  29         125.0
         2020-10-10  30         129.0
31       2020-10-09  29          55.0
         2020-10-10  30          90.0
32       2020-10-09  29          75.0
         2020-10-10  30          81.0
Name: Trial, dtype: float64

## Data processing

### Calculate variables for each rat

In [7]:
df_sum = rgt.get_summary_data(df2) #change to df instead of df2 if you didn't do any session editing
df_sum

,29P1,29P2,29P3,29P4,30P1,30P2,30P3,30P4,risk29,risk30,collect_lat29,collect_lat30,choice_lat29,choice_lat30,omit29,omit30,trial29,trial30,prem29,prem30
1,90.8397,0,8.39695,0.763359,83.0645,0,16.9355,0,81.6794,66.129,1.077168,1.286471,0.638321,0.655323,0,0,131.1,124.0,26.404494,24.848485
2,9.33333,65.3333,10.6667,14.6667,4.93827,76.5432,0,18.5185,49.3333,62.963,1.607407,1.387458,1.057733,1.249012,1,0,76.1,81.0,30.275229,33.606557
3,2.17391,8.69565,56.5217,32.6087,0,11.6279,67.4419,20.9302,-78.2609,-76.7442,1.023333,1.026522,2.833261,3.652791,3,2,49.0,45.0,3.921569,6.250000
4,5.88235,73.5294,4.90196,15.6863,13.4021,64.9485,3.09278,18.5567,58.8235,56.701,1.263699,1.133429,1.000980,0.885258,1,0,103.0,97.0,13.445378,24.218750
5,0,1.53846,98.4615,0,9.375,7.8125,79.6875,3.125,-96.9231,-65.625,0.807188,1.098889,3.135846,3.176250,3,5,68.1,69.0,8.108108,16.867470
6,2.5,70,0,27.5,2.94118,63.2353,0,33.8235,45,32.3529,1.055714,1.061136,2.172000,1.859265,8,7,88.0,75.0,9.278351,15.730337
7,3.07692,10.7692,64.6154,21.5385,1.81818,10.9091,69.0909,18.1818,-72.3077,-74.5455,0.839412,0.929643,1.012615,1.194545,0,0,65.0,56.1,16.666667,34.523810
8,2.41935,92.7419,0.806452,4.03226,2.47934,94.2149,1.65289,1.65289,90.3226,93.3884,1.791649,1.724421,1.850484,1.956033,0,0,124.0,121.0,10.144928,12.949640
9,3.27869,3.27869,90.1639,3.27869,5.26316,7.01754,82.4561,5.26316,-86.8852,-75.4386,0.748000,0.711429,2.300328,2.754211,1,4,62.0,61.0,20.512821,11.594203
11,10.687,88.5496,0.763359,0,8.14815,91.1111,0,0.740741,98.4733,98.5185,1.406731,1.543853,1.950153,1.667852,1,0,132.0,136.1,2.222222,7.534247
12,18.5185,42.5926,0,38.8889,22.5352,49.2958,7.04225,21.1268,22.2222,43.662,1.262000,1.268600,1.161111,1.667324,0,1,54.0,72.0,32.500000,20.879121
13,7.8125,28.125,60.9375,3.125,5.35714,25,57.1429,12.5,-28.125,-39.2857,1.189024,1.310882,2.939531,2.651429,3,4,67.0,60.0,14.102564,17.808219
14,2.5,55,40,2.5,1.0989,84.6154,6.59341,7.69231,15,71.4286,2.233704,2.688986,2.471000,3.094835,0,0,80.1,91.0,23.076923,14.953271
15,2.04082,20.4082,69.3878,8.16327,3.44828,32.7586,58.6207,5.17241,-55.102,-27.5862,1.170000,1.067714,1.645510,1.517241,5,2,54.0,60.1,12.903226,16.666667
16,14.0351,21.0526,10.5263,54.386,9.61538,25,13.4615,51.9231,-29.8246,-30.7692,1.591875,1.369000,2.184386,2.626538,0,6,57.0,59.1,16.176471,19.444444
17,8.10811,37.8378,48.6486,5.40541,12.5,42.1875,40.625,4.6875,-8.10811,9.375,1.502800,1.634762,2.116757,1.780156,6,9,43.1,73.0,29.508197,10.975610
18,4.05405,68.9189,27.027,0,5.97015,62.6866,31.3433,0,45.9459,37.3134,1.970185,2.256250,2.929865,2.801791,2,2,76.0,69.0,7.317073,5.479452
19,19.4444,30.5556,38.8889,11.1111,13.5135,40.5405,31.0811,14.8649,-3.55271e-15,8.10811,1.851702,1.593125,1.969306,2.267973,0,2,72.0,76.0,19.101124,10.588235
20,1.94175,94.1748,1.94175,1.94175,5,90,2,3,92.233,90,2.094875,1.744359,3.634078,3.147800,4,9,107.1,109.0,3.603604,1.801802
21,27.2727,31.8182,18.1818,22.7273,22.2222,30.5556,16.6667,30.5556,18.1818,5.55556,1.732143,1.929778,1.756667,1.821806,4,2,70.0,74.0,22.222222,20.430108
22,4.38596,82.4561,4.38596,8.77193,7.95455,68.1818,5.68182,18.1818,73.6842,52.2727,1.283678,1.105714,1.998947,1.280909,1,0,115.0,88.0,10.852713,24.137931
23,7.77778,78.8889,7.77778,5.55556,11.3208,77.3585,0.943396,10.3774,73.3333,77.3585,1.252687,1.308272,1.119222,1.411792,0,1,90.0,107.1,30.232558,18.939394
24,9.90099,72.2772,11.8812,5.94059,11,78,7,4,64.3564,78,1.615811,1.674231,1.069505,1.537000,13,17,114.0,117.0,5.000000,10.687023
25,0,0,100,0,1.5625,0,98.4375,0,-100,-96.875,1.151765,1.142667,1.715606,1.558594,0,1,66.0,65.0,19.512195,21.686747
26,12.1622,58.1081,5.40541,24.3243,20,45,20,15,40.5405,30,1.322745,1.216585,0.952568,0.972500,0,0,75.1,61.1,43.511450,56.521739
27,18.2927,48.7805,19.5122,13.4146,23.4043,54.2553,11.7021,10.6383,34.1463,55.3191,1.219655,1.225857,1.819878,1.580957,2,1,84.0,95.0,13.402062,11.214953
28,10.3896,64.9351,2.5974,22.0779,7.77778,60,2.22222,30,50.6494,35.5556,1.357857,1.045000,2.941169,1.291444,4,1,81.0,91.1,4.705882,10.784314
29,26.5823,10.1266,53.1646,10.1266,14.2857,18.5714,45.7143,21.4286,-26.5823,-34.2857,1.397959,1.286341,1.474557,1.846429,0,2,79.0,72.0,15.957447,15.294118
30,0,100,0,0,0.775194,93.7984,5.42636,0,100,89.1473,0.952041,0.998922,1.087177,0.593953,1,0,125.0,129.0,16.666667,15.131579
31,7.27273,83.6364,3.63636,5.45455,2.24719,87.6404,7.86517,2.24719,81.8182,79.7753,1.424286,1.575735,2.057091,2.679663,0,1,55.0,90.0,12.698413,10.891089
32,0,47.619,7.93651,44.4444,6.34921,47.619,3.1746,42.8571,-4.7619,7.93651,0.976216,0.933250,3.270794,3.479206,12,18,75.0,81.0,6.250000,4.705882

### Get the risk status of the rats

In [8]:
df_sum, risky, optimal = rgt.get_risk_status(df_sum, startsess, endsess)

print(df_sum[['mean_risk','risk_status']]) 
print(risky, optimal)

    mean_risk  risk_status
1   73.904211          1.0
2   56.148148          1.0
3  -77.502528          2.0
4   57.762280          1.0
5  -81.274038          2.0
6   38.676471          1.0
7  -73.426573          2.0
8   91.855505          1.0
9  -81.161921          2.0
11  98.495900          1.0
12  32.942097          1.0
13 -33.705357          2.0
14  43.214286          1.0
15 -41.344124          2.0
16 -30.296896          2.0
17   0.633446          1.0
18  41.629689          1.0
19   4.054054          1.0
20  91.116505          1.0
21  11.868687          1.0
22  62.978469          1.0
23  75.345912          1.0
24  71.178218          1.0
25 -98.437500          2.0
26  35.270270          1.0
27  44.732745          1.0
28  43.102453          1.0
29 -30.433996          2.0
30  94.573643          1.0
31  80.796731          1.0
32   1.587302          1.0
[3, 5, 7, 9, 13, 15, 16, 25, 29] [1, 2, 4, 6, 8, 11, 12, 14, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 30, 31, 32]

### Export your data to an Excel file

In [9]:
# rgt.export_to_excel(df_sum, groups = group_list, column_name = '', new_file_name = '', asin = True)

## Calculate means and SEMs for your experimental groups

In [10]:
mean_scores, SEM = rgt.get_means_sem(df_sum, groups = group_list, group_names = group_names)
mean_scores
# SEM

Empty DataFrame
Columns: [29P1, 29P2, 29P3, 29P4, 30P1, 30P2, 30P3, 30P4, risk29, risk30, collect_lat29, collect_lat30, choice_lat29, choice_lat30, omit29, omit30, trial29, trial30, prem29, prem30, mean_risk, risk_status]
Index: []

[0 rows x 22 columns]

### Calculate means and SEMS for your experimental groups, split by risk status and/or sex

In [11]:
# control_risky = [subject for subject in control_group if subject in risky]
# exp_risky = [subject for subject in exp_group if subject in risky]

# control_optimal = [subject for subject in control_group if subject in optimal]
# exp_optimal = [subject for subject in exp_group if subject in optimal]


# group_list_risk = [control_risky,exp_risky, control_optimal, exp_optimal]

# #make sure the group names are in the same order as the group list!
# group_names_risk = {0:'Control risky', 
#                     1: 'Experimental risky',
#                     2: 'Control optimal',
#                     3: 'Experimental optimal'}

# mean_scores_risk, SEM_risk = rgt.get_means_sem(df_sum, group_list_risk, group_names_risk)

# mean_scores_risk

# 2B) Baseline & Acquisition Analysis: Plotting

## Bar plot of P1-P4 % choice

In [12]:
# rgt.choice_bar_plot(startsess, endsess, mean_scores, SEM)

# #To save figure:
# plt.savefig('BH07 Choice S29-30',facecolor = 'white')

## Line plot of other variables

In [14]:
# rgt.rgt_plot('risk', startsess, endsess, title, mean_scores, SEM, group_names = group_names, y_label = 'Risk score') 

# rgt.rgt_plot('prem', startsess, endsess, title, mean_scores, SEM, group_names = group_names, y_label = 'Premature responding')

## Bar plot of other variables

In [ ]:
rgt.rgt_bar_plot('risk', startsess, endsess, title, mean_scores, SEM, group_names, y_label = 'Risk score')

## Plotting by risk status

In [ ]:
rgt.choice_bar_plot(startsess, endsess, mean_scores_risk, SEM_risk)

In [ ]:
rgt.rgt_plot('risk', startsess, endsess, title, mean_scores_risk, SEM_risk, group_names = group_names_risk, y_label = 'Risk score')

In [ ]:
rgt.rgt_bar_plot('prem', startsess, endsess, title, mean_scores_risk, SEM_risk, group_names = group_names_risk,y_label = 'Premature responding')

## Test RM anova

In [85]:
import statsmodels.api as sm
import pandas as pd
from patsy import dmatrices

Method: 

Create a new dataframe, with the within-subject factor (session), dependent variable (mean_risk_score), and subject identifier ('Subject') 
Input those columns into the AnovaRM function

In [19]:
df3 = rgt.get_choices(df2)
df3.head()
df4 = df3[['Subject', 'Session', 'Trial', 'option']]
df4
# df4 = df4[df4['option'] != 0]
# df4.to_excel('df_no_option0.xlsx')
#(option == 1/tr + option == 2/tr) - (option == 3/tr - option == 4/tr)

      Subject  Session  Trial  option
0          25       29    1.0       3
1          25       29    2.1       0
2          25       29    2.0       3
3          25       29    3.0       3
4          25       29    4.0       3
...       ...      ...    ...     ...
6201       32       30   77.0       0
6202       32       30   78.0       0
6203       32       30   79.0       2
6204       32       30   80.0       4
6205       32       30   81.0       4

[6206 rows x 4 columns]

In [95]:
groupby_trials = df4.groupby(['Subject', 'Session'], as_index = False)['Trial'].max()
groupby_trials['sub_num'] = groupby_trials['Subject']
groupby_trials['sess_num'] = groupby_trials['Session']
df_P1 = df.loc[df['option'] == 1]
df_P2 = df.loc[df['option'] == 2]
df_P3 = df.loc[df['option'] == 3]
df_P4 = df.loc[df['option'] == 4]
count_P1 = df_P1.groupby(['Subject', 'Session'], as_index = False)['option'].count()
count_P2 = df_P2.groupby(['Subject', 'Session'], as_index = False)['option'].count()
count_P3 = df_P3.groupby(['Subject', 'Session'], as_index = False)['option'].count()
count_P4 = df_P4.groupby(['Subject', 'Session'], as_index = False)['option'].count()
groupby_trials = groupby_trials.set_index(['Subject','Session']).join(count_P1.set_index(['Subject','Session']), lsuffix='_P1', rsuffix='_P2')
# groupby_trials = groupby_trials.set_index(['Subject','Session']).join(count_P2.set_index(['Subject','Session']), lsuffix='_P1', rsuffix='_P2')
groupby_trials = groupby_trials.join(count_P2.set_index(['Subject','Session']), lsuffix='_P1', rsuffix='_P2')
groupby_trials = groupby_trials.join(count_P3.set_index(['Subject','Session']), lsuffix='_test', rsuffix='_P2')
groupby_trials = groupby_trials.join(count_P4.set_index(['Subject','Session']), lsuffix='_P3', rsuffix='_P4')
groupby_trials['Trial'] = groupby_trials['Trial'].astype(int)
groupby_trials = groupby_trials.fillna(0)
groupby_trials['risk_score'] = (groupby_trials['option_P1']/groupby_trials['Trial'] + groupby_trials['option_P2']/groupby_trials['Trial'] 
                        - groupby_trials['option_P3']/groupby_trials['Trial'] - groupby_trials['option_P4']/groupby_trials['Trial'])*100
groupby_trials
# groupby_trials.columns

                 Trial  sub_num  sess_num  option_P1  option_P2  option_P3  \
Subject Session
1       29         131        1        29      119.0        0.0       11.0
        30         124        1        30      103.0        0.0       21.0
2       29          76        2        29        7.0       49.0        8.0
        30          81        2        30        4.0       62.0        0.0
3       29          49        3        29        1.0        4.0       26.0
...                ...      ...       ...        ...        ...        ...
30      30         129       30        30        1.0      121.0        7.0
31      29          55       31        29        4.0       46.0        2.0
        30          90       31        30        2.0       78.0        7.0
32      29          75       32        29        0.0       30.0        5.0
        30          81       32        30        4.0       30.0        2.0

                 option_P4  risk_score
Subject Session
1       29             1.0   81.679389
        30             0.0   66.129032
2       29            11.0   48.684211
        30            15.0   62.962963
3       29            15.0  -73.469388
...                    ...         ...
30      30             0.0   89.147287
31      29             3.0   81.818182
        30             2.0   78.888889
32      29            28.0   -4.000000
        30            27.0    6.172840

[62 rows x 8 columns]

In [ ]:
def get_risk_score(df):
    trials_range = range(len(df)) #first index to last index of groupby object
    df_no_prem = df[df['option'] != 0]
    trials = len(df_no_prem) #must change to df where option != 0 
    gb_objects = list(df.groupby(['Subject','Session']))
    count_P1 = 0
    count_P2 = 0
    count_P3 = 0
    count_P4 = 0
    for gb in gb_objects:
        for tr in trials_range:
            if df.at[tr, 'option'] == 1: 
                count_P1 += 1 
            if df.at[tr, 'option'] == 2: 
                count_P2 += 1
            if df.at[tr, 'option'] == 3: 
                count_P3 += 1
            if df.at[tr, 'option'] == 4: 
                count_P4 += 1
    return (count_P1/trials + count_P2/trials - count_P3/trials - count_P4/trials)*100

get_risk_score(df4)
#for gb in groupby objects 
    #get the risk scor

In [49]:
# def get_mean_risk(df):
#     df_no_prem = df[df['option'] != 0]
#     trials = len(df_no_prem) #must change to df where option != 0 
#     df_P1 = df.loc[df['option'] == 1]
#     df_P2 = df.loc[df['option'] == 2]
#     df_P3 = df.loc[df['option'] == 3]    
#     df_P4 = df.loc[df['option'] == 4]   
#     count_P1 = df_P1.groupby(['Subject', 'Session'], as_index = False).count()
#     count_P2 = df_P2.groupby(['Subject', 'Session'], as_index = False).count()
#     count_P3 = df_P3.groupby(['Subject', 'Session'], as_index = False).count()
#     count_P4 = df_P4.groupby(['Subject', 'Session'], as_index = False).count()
#     #groupby subject and session --> get mean risk score 
#     #for df.unique(['Subject', 'Session'])
#     return sum([count_P1/trials, count_P2/trials]) - sum([count_P3/trials + count_P4/trials])

df = df4
df_P1 = df.loc[df['option'] == 1]
df_P2 = df.loc[df['option'] == 2]
df_P3 = df.loc[df['option'] == 3]    
df_P4 = df.loc[df['option'] == 4]   
count_P1 = df_P1.groupby(['Subject', 'Session'], as_index = False).count()
count_P2 = df_P2.groupby(['Subject', 'Session'], as_index = False).count()
count_P3 = df_P3.groupby(['Subject', 'Session'], as_index = False).count()
count_P4 = df_P4.groupby(['Subject', 'Session'], as_index = False).count()
trials = df.groupby(['Subject','Session'],as_index=False)['Trial'].max() #counts non-prem responses in df (doesn't need df option != 0) **max or count
counts = count_P1.join(count_P2['option'], lsuffix='_P1', rsuffix='_P2')
counts = counts.join(count_P3['option'], rsuffix='_P3')
counts = counts.join(count_P4['option'], rsuffix='_P4')
counts = counts.join(trials['Trial'], rsuffix = 's')
counts['risk_score'] = (counts['option_P1']/counts['Trials'] + counts['option_P2']/counts['Trials'] 
                        - counts['option']/counts['Trials'] - counts['option_P4']/counts['Trials'])*100
counts

,Subject,Session,Trial,option_P1,option_P2,option,option_P4,Trials,risk_score
0,1,29,119,119,49,11.0,1.0,131.1,118.993135
1,1,30,103,103,62,21.0,11.0,124.0,107.258065
2,2,29,7,7,4,8.0,15.0,76.1,-15.768725
3,2,30,4,4,5,26.0,15.0,81.0,-39.506173
4,3,29,1,1,75,29.0,9.0,49.0,77.551020
...,...,...,...,...,...,...,...,...,...
52,29,30,10,10,124,2.0,27.0,81.0,129.629630
53,30,30,1,1,121,7.0,NaN,91.1,NaN
54,31,29,4,4,46,5.0,NaN,79.0,NaN
55,31,30,2,2,78,2.0,NaN,72.0,NaN
56,32,30,4,4,30,NaN,NaN,125.0,NaN

In [ ]:
# count_P1_test = df_P1.groupby(['Subject', 'Session'], as_index = True)['option'].count()
# count_P1_test = df_P1.groupby(['Subject', 'Session'], as_index = False)['option'].shape[0]
# count_P1_test
# count_P2 #has no P2 choices in subject 1 session 29 and 30
# df_sums = len(df_P1) + len(df_P2) + len(df_P3) + len(df_P4)
# df_sums #=4964
# df.set_index('key').join(other.set_index('key'))
# counts = df4.groupby(['Subject', 'Session'], as_index = False).agg((['mean', 'count'])) #successfully kept all rows! 
# counts
count_P1

In [ ]:
# df6 = df4.groupby(['Subject','Session'])
# gb = df6.apply(lambda x: get_risk_score())
# gb
#keyerror = 0 because the next groupby object does not start from index = 0

In [ ]:
adder = lambda x, y: x + y
print (adder (1, 2))

In [87]:
from statsmodels.stats.anova import AnovaRM

In [98]:
aovrm = AnovaRM(groupby_trials, 'risk_score', 'sub_num', within=['sess_num'])
res = aovrm.fit()

print(res)

                Anova
======================================
         F Value Num DF  Den DF Pr > F
--------------------------------------
sess_num  1.5027 1.0000 30.0000 0.2298
======================================